<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>tex</string>
				<string>TEX</string>
				<string>bib</string>
				<string>BIB</string>
				<string>sty</string>
				<string>STY</string>
				<string>cls</string>
				<string>CLS</string>
				<string>mp</string>
				<string>MP</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>texstudio.icns</string>
			<key>CFBundleTypeName</key>
			<string>TeX Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSIsAppleDefaultForType</key>
			<true/>
		</dict>
	</array>
	<key>CFBundleIconFile</key>
	<string>texstudio.icns</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>texstudio</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (c) 2003-2007, Pascal Brachet, 2008-2018 Benito van der Zander</string>
	<key>CFBundleIdentifier</key>
	<string>texstudio</string>
	<key>CFBundleName</key>
	<string>TeXstudio</string>
	<key>CFBundleShortVersionString</key>
	<string>2.12.10</string>
	<key>AppleMagnifiedMode</key>
	<false/>
</dict>
</plist>
