/* $Id: latex2e.css 935 2021-07-23 17:48:15Z jimhefferon $
   Minor css for latexrefman. Public domain.
   Originally written by Jim Hefferon and Karl Berry, 2018. */

BODY {
  margin-top: 1em;
  margin-left: 1em; /* auto results in two-digit <ol> lost off left */
  margin-right: 1em;
  margin-bottom: 1em;
  /* the idea is to use the whole window, unless it is ridiculously
     wide, probably with too-small fonts, too.  */
  max-width: 64em;
}

/* Because we want @math{... @code ...} to be upright, not slanted,
   and Texinfo won't fix it. */
code {font-style:normal; font-family:monospace; }

/* We put a link to our own home page at the bottom. */
div.referenceinfo {font-size:small;}

/* So you can style for yourself */
@import url("/css/latexreflocal.css");
