Source: texstudio
Section: editors
Priority: extra
Maintainer: J. Sundermeyer <jsundermeyer@user.sourceforge.net>
Build-Depends: debhelper (>= 7.0.50~),qtbase5-dev,qt5-default|qt5-gtk2-platformtheme,qt5-qmake, libqt5svg5-dev,qtdeclarative5-dev,qttools5-dev,libpoppler-qt5-dev,libpoppler-cpp-dev, zlib1g-dev, pkg-config, libqtermwidget5-0-dev (> 0.9)|libqtermwidget5-1-dev|libqt5svg5-dev, cmake, libhunspell-dev, libquazip5-dev
Standards-Version: 3.9.1
Homepage: texstudio.sf.net
#Vcs-Git: git://git.debian.org/collab-maint/texstudio.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/texstudio.git;a=summary

Package: texstudio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: texlive-latex-base, texlive-latex-extra, texlive-latex-recommended, texlive-base, latex-beamer, dvipng
Conflicts: texstudio-l10n
Description: Latex Editor
 TeXstudio is a program based on Texmaker, that integrates many tools needed to develop documents with LaTeX, in just one application. Using its editor you can write your documents with the help of interactive spell checking, syntax highlighting, automatically code completion and more...
