name: Limit bintray entries

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: read and cut bintray entries
      run: .github/scritps/bintrayCutEntries.sh ${{ secrets.bintrayAccess }}
